* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    background-color: #261f2c65;
}